.docsumo-logo {
    top: 0;
    left: 0;
    position: absolute;
    a {
        width: 165px;
        display: inline-block;
        img {
            width: 100%;
            height: auto;
        }
    }
}