.ds-forgot-password {
    text-align: right;
    a {
        color: #000;
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.7;
        display: inline-block;
        text-decoration: none;
    }
}